table {
    width: 100%;
  }
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    display: flex;
}
  
td, th {
    width: 25%;
}

.add_button {
    margin: 0px 0px 20px 20px;
}

.mat-column-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}