.cards {
    padding: 10px;
    background: rgb(247,230,214);
    background: linear-gradient(180deg, rgba(247,230,214,1) 31%, rgba(192,235,244,1) 100%);    
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card {
    margin: 10px;
    width: 90%;
    transition: all .3s ease;
}

mat-card:hover {
    transform: scale(1.05);
}

mat-card-subtitle{
    margin: 10px 0;
}