<div>
    <a [routerLink]="['/']">Home Page</a>
    <a [routerLink]="['/login']">Login Page</a>
    <a *ngIf="user?.roles.subscriber" [routerLink]="['/article']">Article Page</a>
    <a *ngIf="user?.roles.admin" [routerLink]="['/admin']">Admin</a>
</div>
<div *ngIf="user">
    <h3>Hello {{ user.displayName }}</h3>
    <img [src]="user.photoURL" alt="">
    <button (click)="auth.logout()" >Log out</button>
</div>
<div *ngIf="user">
    <p>Subscriber: {{ user.roles.subscriber }} </p>
    <p>Admin: {{ user.roles.admin ? user.roles.admin : false }}</p>
</div>